body {    
    --background-color: #f0fff3;    
    --body-text:#24a19c;
    

    background-color: var(--background-color);
    
  }

section {
    width: 90vw;
    padding: 10px 10px;
}


.header {    
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header-title {    
    display: flex;
    align-items: center;
}

.img-box {
    display: flex;
    align-items: center;
}

img {    
    border-radius: 50%;
    border: 5px solid #D64AA0;
    max-width: 25vw;  
    max-height: 250px;      
    object-fit: cover;
}

#name {
    width: 75vw;
    padding-left: 20px;
    line-height: 1;
    color: #D64AA0;
    font-family: 'Baloo Tamma 2';
    font-weight: 700;
    font-size: 7vw;
}

.header-text {    
    text-align: justify;    
}

p, ul, ol, table {
    color: var(--body-text);
    font-family: 'Baloo Tamma 2';
    font-weight: 600;
    font-size: 20px;    
}

h3 {
    color: #D64AA0;
    font-family: 'Baloo Tamma 2';
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 5px; 
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 5px;       
    width: 5%;
}

